In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("D:\power bi project\INTERNSHIP PROJECT\DA.csv")
df.head()

,Call Id,Lead Id,Campaign ID,Advertiser Id,Hid,Call Status,Lead Status,Agent Duration(seconds),Customer Duration(seconds),From Calling Number,To Calling Number,Attempt No,Created At,Updated At,Agent Id,Agent Name
0,26807,410987,930228,1883,40831aceu6850re1ece43deeqf20a6o,no-answer,Not Interested,8,0,9.186570e+11,+919552777764,1,2024-04-01 11:35:19,2024-04-01 11:35:27,2728,Mansi Jaiswal
1,26808,410986,930228,1883,3dc489fbg6850pe1ece43deewf20a6v,completed,Not Interested,51,34,9.186570e+11,+917275507242,1,2024-04-01 11:35:27,2024-04-01 11:36:19,2728,Mansi Jaiswal
2,26809,410985,930228,1883,92d7bfbag6850se1ece43deevf20a6y,no-answer,Invalid Number,9,0,9.186570e+11,+919430734094,1,2024-04-01 11:36:19,2024-04-01 11:36:28,2728,Mansi Jaiswal
3,26810,410984,930228,1883,3a9872eem6850oe1ece43deetf20a6m,completed,Not Interested,45,25,9.186570e+11,+918349289209,1,2024-04-01 11:36:29,2024-04-01 11:37:15,2728,Mansi Jaiswal
4,26811,410981,930228,1883,3dde873bx6850je1ece43deehf20a6u,no-answer,Busy,45,0,9.186570e+11,+917054670061,1,2024-04-01 11:37:14,2024-04-01 11:38:00,2728,Mansi Jaiswal

In [4]:
df.tail()

,Call Id,Lead Id,Campaign ID,Advertiser Id,Hid,Call Status,Lead Status,Agent Duration(seconds),Customer Duration(seconds),From Calling Number,To Calling Number,Attempt No,Created At,Updated At,Agent Id,Agent Name
24618,51694,452649,930270,1883,d449d4aewcze1ec687663hcne4373a65,completed,Not Interested,30,21,9.186570e+11,7837713409,1,2024-05-15 19:18:00,2024-05-15 19:18:31,2804,Niharika Bhatt
24619,51695,452648,930270,1883,43d96decjcle1ec687663zcnf55dce0f,completed,Call Back,34,23,9.186570e+11,9915515529,1,2024-05-15 19:18:30,2024-05-15 19:19:09,2804,Niharika Bhatt
24620,51696,452647,930270,1883,ff5897edxcwe1ec687663zcva2756b59,completed,Not Interested,79,60,9.186570e+11,9166733250,1,2024-05-15 19:19:09,2024-05-15 19:20:29,2804,Niharika Bhatt
24621,51697,452646,930270,1883,b485f83fjcle1ec687663kcy54cfacf3,no-answer,Voice Issue,16,0,9.186570e+11,9888255000,1,2024-05-15 19:20:28,2024-05-15 19:20:45,2804,Niharika Bhatt
24622,51698,452646,930270,1883,b485f83fjcle1ec687663kcy54cfacf3,completed,Voice Issue,51,35,9.186570e+11,9888255000,2,2024-05-15 19:20:45,2024-05-15 19:21:36,2804,Niharika Bhatt

In [6]:
df.shape

(24623, 16)

In [7]:
df.isnull().sum()

Call Id                         0
Lead Id                         0
Campaign ID                     0
Advertiser Id                   0
Hid                             0
Call Status                     0
Lead Status                     0
Agent Duration(seconds)         0
Customer Duration(seconds)      0
From Calling Number           123
To Calling Number               0
Attempt No                      0
Created At                      0
Updated At                      0
Agent Id                        0
Agent Name                      0
dtype: int64

# Campaign Performance Report:

In [13]:
##Total calls (count of call_sid)

total_call=df['Call Id'].nunique()

In [14]:
print(total_call)

24623

In [16]:
##Unique leads (count of distinct lead_id)

unique_leads = df['Lead Id'].nunique()
print(unique_leads)

8278

In [20]:
##Calls connected (count of call_status = "Answered")

answered_calls = df[df['Call Status'] == 'completed']  ##data get filtered here
connected_calls = answered_calls.shape[0]  ##this will count the no of rows from filtered data
print(connected_calls)

8454

In [61]:
##Unique calls connected (count of distinct lead_id where call_status = "Answered")

answered_calls = df[df['Call Status'] == 'completed'] ##filter the data that are completed or answered
unique_cc = answered_calls['Lead Id'].nunique()  ##count no unique call connected 
print(unique_cc)

5813

In [65]:
##Leads converted (count of call_status = "Interested")

lead_converted=df[df["Lead Status"]=="Interested"]  
leads_converted_count =lead_converted.shape[0]
lead_converted.shape

(3451, 16)

In [67]:
not_interested_leads = df[df['Lead Status'] == 'Not Interested']
notintrested_lead_count =not_interested_leads.shape[0]
not_interested_leads.shape

(4916, 16)

In [39]:
##Average agent call duration (average of Agent Call Duration)

average_duration1 = df['Agent Duration(seconds)'].mean()
print(average_duration1)

35.93843154773992

In [41]:
##Average customer call duration (average of Customer Call Duration)

average_duration2 = df['Customer Duration(seconds)'].mean()
print(average_duration2)

12.986679121146896

# Lead Disposition Report:

In [68]:
##Number of calls made (count of call_sid per agent)

status_distribution = df['Lead Status'].value_counts()
print(status_distribution)

Lead Status
No Answer                 6478
Not Interested            4916
Busy                      3743
Interested                3451
Not Reachable             1443
Voice Issue               1208
Invalid Number             785
Language Barrier           657
Bought Another Product     479
Call Back                  452
Already Bought             340
Already Verified           240
Opt Out                    107
Already Buy/ Bought         87
Failed                      81
Out of Geo Location         58
Not Eligible - Income       53
Not Eligible - Age          16
Hung-up                     10
Duplicate                    9
Status26                     9
Ringing                      1
Name: count, dtype: int64

# Agent Performance Report:

In [45]:
##Calls connected (count of call_status = "Answered" per agent)

unique_agent = df['Agent Id'].nunique() ##shows hoe many number of agents are present in dataset
print(unique_agent)

23

In [52]:
##Leads converted (count of call_status = "Interested" per agent)

calls_per_agent = df.groupby('Agent Name')['Call Id'].count()   ##grroupby helps to groud the data by agentid and count ()helps to count no of call made by that particular agent
print(calls_per_agent)

Agent Name
ATHARV GAWADE            386
Abhijit Bhatt           1147
Amitabh Bachchan         999
Gaurav Rawat              44
Geetanjali Dhiman        533
Manjeet Rawat            668
Manneajeet Singh          27
Mansi Jaiswal           4134
Mayank                    57
Mohammad Husain Raza     750
Mumtaz                  2453
Nainsee Jaiswal         4372
Niharika Bhatt           582
Rahul                   1304
Shadab Khan                1
Shwetha                  704
Tabassum                2930
Thahasina Shaik          659
Uzma Khan                104
Wasim Khan                 4
Zubiya                  2128
prerna giri              572
priyansh shrotriya        65
Name: Call Id, dtype: int64

In [49]:

a = df['Call Status'].unique()  
print(a)

['no-answer' 'completed' 'failed' 'in-progress']

In [51]:
##Calls connected (count of call_status = "Answered" per agent)

answered_calls = df[df['Call Status'] == 'completed'] ##answered = completed
connected_calls_per_agent = answered_calls.groupby('Agent Name')['Call Id'].count()
print('Number of calls connected (Answered) per agent:')
print(connected_calls_per_agent)

Number of calls connected (Answered) per agent:
Agent Name
ATHARV GAWADE            132
Abhijit Bhatt            434
Amitabh Bachchan         201
Gaurav Rawat              13
Geetanjali Dhiman        130
Manjeet Rawat            224
Manneajeet Singh          11
Mansi Jaiswal           1553
Mayank                    20
Mohammad Husain Raza     247
Mumtaz                   916
Nainsee Jaiswal         1491
Niharika Bhatt           232
Rahul                    470
Shwetha                  259
Tabassum                 998
Thahasina Shaik          238
Uzma Khan                 15
Wasim Khan                 2
Zubiya                   629
prerna giri              215
priyansh shrotriya        24
Name: Call Id, dtype: int64

In [56]:
##Leads converted (count of call_status = "Interested" per agent)

interested_calls = df[df['Lead Status'] == 'Interested']
converted_leads_per_agent = interested_calls.groupby('Agent Name')['Call Id'].count()

print('Number of converted leads (Interested) per agent:')
print(converted_leads_per_agent)

Number of converted leads (Interested) per agent:
Agent Name
ATHARV GAWADE            31
Abhijit Bhatt           142
Amitabh Bachchan        117
Gaurav Rawat              8
Geetanjali Dhiman        46
Manjeet Rawat            69
Manneajeet Singh          4
Mansi Jaiswal           699
Mayank                    5
Mohammad Husain Raza     97
Mumtaz                  374
Nainsee Jaiswal         685
Niharika Bhatt           64
Rahul                   253
Shwetha                  97
Tabassum                315
Thahasina Shaik          99
Uzma Khan                15
Zubiya                  248
prerna giri              69
priyansh shrotriya       14
Name: Call Id, dtype: int64

In [60]:
##Average agent call duration (average of Agent Call Duration per agent)

average_duration_per_agent = df.groupby('Agent Id')['Customer Duration(seconds)'].mean()
print(average_duration_per_agent)

Agent Id
1        9.250000
779      9.518519
1656     0.000000
2707     4.076923
2714    13.937220
2728    13.615627
2771    13.043687
2772     9.832765
2778    17.546282
2780     6.146146
2783    18.741064
2784    14.087719
2787    13.220280
2790    12.726667
2791     9.598802
2793    17.015625
2795    13.153846
2796    16.029141
2797    18.500000
2798    15.225389
2799     9.906485
2803    12.996248
2804    18.530928
Name: Customer Duration(seconds), dtype: float64

In [59]:
##Average customer call duration (average of Customer Call Duration per agent)

avg_customer_per_agent= df.groupby('Agent ID')['Customer Call Duration'].mean()
print(avg_customer_per_agent)

Customer Duration(seconds)
0       25.679721
1       20.333333
2       19.953488
3       21.322581
4       21.195122
          ...
271    302.000000
284    303.000000
289    304.000000
296    312.000000
476    495.000000
Name: Agent Duration(seconds), Length: 203, dtype: float64

In [ ]:
##for forcasting we have use power bi